azure-identity==1.12.0
azure-keyvault-secrets==4.7.0
azure-monitor-opentelemetry-exporter==1.0.0b15
pyspark==3.4.1
opentelemetry-api==1.19.0
opentelemetry-sdk==1.19.0
opentelemetry-semantic-conventions==1.40b0